<html lang = "en" ng-app="app">
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial scale =1.0">
  <meta http-equiv="X-UA-Compatible" content- "ie=edge">
  <title>TO DO LIST</title>
</head>

<body ng-controller= "ModelController as test">
<h1> TO DO LIST </h1>
<h2> A Place To Store Things You Have To Do!</h2>


<input type= "text" ng-model= "test.listItem" />
<button ng-click = "test.addItem(test.listItem);">Add</button>
<p ng-repeat="item in test.listOfItems"> {{item}} <button ng-click = "test.remove()">x</button> </p>


  <!-- <script src="lib/angular.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src= "ang.js"></script>
  <!-- <script src = "model-controller.js"></script> -->

</body>
</html>
